body {
    background-color:#ededed;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: 1000;
    font-size: 40px;
    margin: auto;
}

p {
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    position: relative;
    bottom: 60px;
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    height: 200px;
    margin: auto;
}

.color0 {
    position: relative;
    top: 65px;
    right: 90px;
}

.color1 {
    color: #0bd7f7;
    position: relative;
    left: 140px;
    top: 19px;
}

.color2 {
    color: #f76a2f;
    position: relative;
    left: 230px;
    bottom: 60px;
    font-size: 70px;
}

.logo1 {
    height: 35px;
    position: relative;
}

.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: auto auto auto;
    border: 2px solid black;
    position: relative;
    left: 430px;
    top: 100px;
    background-color: #f76a2f;
}

.photo1 {
    width: 300px;
    height: 500px;
    grid-row: 1 / 3;
    border: 2px solid black;
}

.photo2 {
    width: 680px;
    height: 300px;
    grid-column: 2 / 4;
    border: 2px solid black;
}

.photo3 {
    width: 360px;
    height: 570px;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 2px solid black;
}

.photo4 {
    width: 305px;
    height: 260px;
    border: 2px solid black;
}

.photo5 {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.photo6 {
    width: 305px;
    height: 260px;
    border: 2px solid black;
}