body {
    margin: 0;
}

.container {
    background-image: url(../img/Background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: solid 1px black;

}

li {
    border: solid 1px black;

}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    margin-left: 100px;

}

.navbar-buttons * {
    width: 80px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: px;
    padding-right: px;
    text-align: center;

}

.navbar li {}

.navbar .logo {}

.navbar .logo-1 {}

.navbar .home {
    background-color: #f7672c;
}

.navbar .icon-bars {}

.logo {
    margin-left: 20px;
}

.logo-1 {}

a {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;

}